<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="banner">
    <div class="left">
        <h2 class="vue">UUOS</h2>
        <h1>
        <br>A Universal Smart Contract Platform
        </h1>
        <br>
          <p>
            <a class="button why" href="<%- url_for("https://www.jianshu.com/p/32b317be9fa1") %>" target="_blank">Why UUOS?</a>
            <a class="button start" href="<%- url_for("/v2/source") %>" target="_blank"><span>Start</span></a>
            <a class="button git has-icon" href="https://github.com/uuos/uuos" target="_blank">
              <%- partial('icons/github-dark') %>
              GITHUB</a>
          </p>
    </div>
    <div class="right">
    
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
        <img src="<%- url_for("/images/web_Home page_kuozhan.png") %>">
      <h2>Good Extensibility</h2>
      <p align="left">UUOS has good extensibility. It supports a variety of smart contract VMs. At present, it not only supports wasm VM but also VMs such as Python, EVM, Lua, and Java. It is very convenient to integrate a new kind of VM.</p>
    </div>

    <div class="point">
        <img src="<%- url_for("/images/web_Home page_yiyong.png") %>">
      <h2>Ease Use</h2>
      <p align="left">UUOS focuses on the application of Python language to the  smart contract development, improving usability of smart contract languages. At the same time, UUOS pays attention to the security of smart contract.</p>
    </div>

    <div class="point">
      <img src="<%- url_for("/images/web_Home page_tiaoshi.png") %>">
      <h2>On-line Debugging</h2>
      <p>
        <p align="left">UUOS supports direct on-line debugging of C++, Python and other smart contract language through development tools such as Visual Studio Code to make development of smart contract easier.</p>
      </p>
    </div>
    <div class="point">
      <img src="<%- url_for("/images/web_Home page_shengji.png") %>">
      <h2>Upgrade on The Chain</h2>
      <p>
        <p align="left">UUOS can upgrade VM modules and other modules of blockchain without stopping the node.</p>
      </p>
    </div>
  </div>
</div>
<script>
  (function () {
    var topScrolled = false
  
    window.addEventListener('scroll', function () {
      if (window.pageYOffset > 165 && !topScrolled) {
        topScrolled = true
        document.getElementById('mobile-bar').classList.remove('top')
      } else if (window.pageYOffset <= 165 && topScrolled) {
        topScrolled = false
        document.getElementById('mobile-bar').classList.add('top')
      }
      
    })
  })()
  </script>