<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="banner">
    <div class="i-left">
        <div class="text-top">A Universal</div>
        <div class="text-bottom">Smart Contract Platform</div>
          <p>
            <a class="button why" href="<%- url_for("/v2/source/uuos.html") %>" target="_blank">Why UUOS?</a>
            <a class="button start" href="<%- url_for("/v2/source") %>" target="_blank">Start</a>
            <a class="button git has-icon" href="https://github.com/uuos/uuos" target="_blank">
              <i class="fa fa-github fa-4x"></i>
              <span>GITHUB</span></a>
          </p>
    </div>
    <div class="i-right">
      <img src="<%- url_for("/images/chahua.png") %>">
    </div>
  </div>
</div>

<div id="highlights">
  <div class="point-title">
    Platform advantage
  </div>
  <div class="inner">
    <div class="point">
        <img src="<%- url_for("/images/icon_GoodExtensibility.png") %>">
      <h2>Good Extensibility</h2>
      <p align="left">UUOS has good extensibility. It supports a variety of smart contract VMs. At present, it not only supports wasm VM but also VMs such as Python, EVM, Lua, and Java. It is very convenient to integrate a new kind of VM.</p>
    </div>

    <div class="point">
        <img src="<%- url_for("/images/icon_DeveloperFriendly.png") %>">
      <h2>Developer Friendly</h2>
      <p align="left">UUOS focuses on the application of Python language to the  smart contract development, improving usability of smart contract languages. At the same time, UUOS pays attention to the security of smart contract.</p>
    </div>

    <div class="point">
      <img src="<%- url_for("/images/icon_On-lineDebugging.png") %>">
      <h2>On-line Debugging</h2>
      <p>
        <p align="left">UUOS supports direct on-line debugging of C++, Python and other smart contract language through development tools such as Visual Studio Code to make development of smart contract easier.</p>
      </p>
    </div>
    <div class="point">
      <img src="<%- url_for("/images/icon_UpgradeonTheChain.png") %>">
      <h2>Upgrade on The Chain</h2>
      <p>
        <p align="left">UUOS can upgrade VM modules and other modules of blockchain without stopping the node.</p>
      </p>
    </div>
  </div>
</div>
<div id="uuoswallet">
  <div class="point-title">
      UUOS Wallet
  </div>
  <div id="mobile">
    <div class="mobileup">
      <div class="mobileleft">
        <div class="uuosmobile">
          UUOS Wallet for Mobile
        </div>
        <div class="uuosmobile-content">
          UUOS Wallet is a safe bloackchain wallet APP that provides users with services such as transfer, collection, and wallet management.
        </div>
      </div>
      <div class="mobileright">
        <img src="<%- url_for("/images/mobile_en.png") %>" class="mobileimg">
      </div>
    </div>
    <div class="download-section">
      <div class="download-text">
        Support for iPhone and Android
      </div>
      <a class="download-button"  href="<%- url_for("/download.html") %>">
        Download for Mobile
      </a>
    </div>
  </div>
  <div id="desktop">
    <div class="desktopup">
      <div class="desktopleft">
        <img src="<%- url_for("/images/desktop_en.png") %>" class="mobileimg">
      </div>
      <div class="desktopright">
        <div class="uuosdesktop">
          UUOS Wallet for PC
        </div>
        <div class="uuosdesktop-content">
          UUOS wallet for PC supports multi-platform download, which is convenient, fast and efficient.
        </div>
      </div>
    </div>
    <div class="download-section">
      <div class="download-text">
        Support for Windows, Mac and Linux
      </div>
      <a class="download-button"  href="<%- url_for("/downloadpc.html") %>">
        Download for PC
      </a>
    </div>
  </div>
</div>
<script>
  (function () {
    var topScrolled = false
  
    window.addEventListener('scroll', function () {
      if (window.pageYOffset > 165 && !topScrolled) {
        topScrolled = true
        document.getElementById('mobile-bar').classList.remove('top')
      } else if (window.pageYOffset <= 165 && topScrolled) {
        topScrolled = false
        document.getElementById('mobile-bar').classList.add('top')
      }
      
    })
  })()
  </script>