<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <center>
  <div class="inner">
  <div>
      <h2 class="vue">UUOS</h2>
      <h1>
        一个通用智能合约平台
      </h1>
      <h1>
      </h1>
      <p>
        <a class="button has-icon" href="<%- url_for("https://www.jianshu.com/p/32b317be9fa1") %>" target="_blank">为什么是UUOS?</a>
        <a class="button white" href="<%- url_for("https://learnforpractice.github.io/uuos") %>" target="_blank">开始</a>
        <a class="button gray has-icon" href="https://github.com/uuos/uuos" target="_blank">
          <%- partial('icons/github-dark') %>
          GITHUB</a>
      </p>
    </div>
  </div>
  </center>
</div>

<div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>可扩展性</h2>
      <p>UUOS有着良好的扩展性，支持多种智能合约虚拟机，目前除了支持wasm虚拟机，还支持Python, EVM, Lua，Java等虚拟机，集成一种新的虚拟机非常方便.</p>
    </div>

    <div class="point">
      <h2>易用性</h2>
      <p>UUOS专注于将Python语言应用于智能合约的开发，提高智能合约语言的易用性，同时注重智能合约的安全性.</p>
    </div>

    <div class="point">
      <h2>在线调试</h2>
      <p>
      <p>UUOS支持通过Visual Studio Code等开发工具直接调试C++和Python等智能合约，方便智能合约的开发.</p>
      </p>
    </div>
    <div class="point">
      <h2>链上升级</h2>
      <p>
      <p>UUOS可以做到在不停止结点的情况下升级区块链的VM等模块.</p>
      </p>
    </div>
  </div>
</div>

<div id="footer">
  <p>
    <a class="social-icon" href="https://github.com/learnforpractice/uuos" target="_blank">
      <%- partial('icons/github') %>
    </a>
  </p>
  <p>Released under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a><br>
  Copyright &copy; 2014-<%- new Date().getFullYear() %> UUOS</p>
</div>

<div id="video-modal" class="modal">
  <div class="video-space" style="padding: 56.25% 0 0 0; position: relative;"><iframe src="https://player.vimeo.com/video/247494684" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</div>

<script>
(function () {
  var topScrolled = false
  var sponsors = document.getElementById('sponsors')
  var sponsorTop = sponsors.offsetTop
  var sponsorActive = false

  window.addEventListener('resize', function () {
    sponsorTop = sponsors.offsetTop
  })

  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
    if (window.pageYOffset > sponsorTop - 100) {
      if (!sponsorActive) {
        sponsorActive = true
        sponsors.classList.add('active')
      }
    } else {
      if (sponsorActive) {
        sponsorActive = false
        sponsors.classList.remove('active')
      }
    }
  })
})()
</script>