<% if (page.type) { %>
  <% if (!(page.type === 'indexcn')) { %>
    <%- partial('partials/sidebar', { type: page.type === 'menu' ? 'guide' : page.type, index: page.index }) %>
  <% } %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>
<div class="<%- (page.type === 'dev' || page.type === 'indexcn' || page.type === 'devcn') ? 'dev' : 'content' %> <%- page.type === 'guide' ? page.path.replace(/.+\//, '').replace('.html', '') + '-guide' : '' %>">
  <% if (page.type) { %>
    <% if (page.type === 'indexcn') { %>
      <%- partial('partials/index-cn') %>
    <% } else if (page.type === 'dev') { %>
      <%- partial('partials/roadmap') %>
    
    <% } else if (page.type === 'devcn') { %>
      <%- partial('partials/roadmap_cn') %>
    <% } %>
    
  <% } %>
  <% if (page.title.trim()) { %>
    <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
  <% } %>
  <% if (page.sponsors) { %>
    <%- partial('sponsors-page') %>
  <% } else if (page.search) { %>
    <%- partial('search-page') %>
  <% } else { %>
    <%- page.content %>
  <% } %>
  
  <div class="content fillcolor"></div>
</div>
