<% var selfpage = (page.type === 'dev' || page.type === 'indexcn' || page.type === 'devcn' || page.type === 'downloadcn' || page.type === 'download' || page.type === 'downloadpc' || page.type === 'downloadpccn') %>
<% if (page.type) { %>
  <% if (!(page.type === 'indexcn')) { %>
    <%- partial('partials/sidebar', { type: page.type === 'menu' ? 'guide' : page.type, index: page.index }) %>
  <% } %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>
<div class="<%- (selfpage) ? 'dev' : 'content' %>">
  <% if (page.type) { %>
    <% if (page.type === 'indexcn') { %>
      <%- partial('partials/index_cn') %>
    <% } else if (page.type === 'dev') { %>
      <%- partial('partials/roadmap') %>
    
    <% } else if (page.type === 'devcn') { %>
      <%- partial('partials/roadmap_cn') %>

    <% } else if (page.type === 'download') { %>
      <%- partial('partials/download') %>
    <% } else if (page.type === 'downloadcn') { %>
      <%- partial('partials/download_cn') %>

    <% } else if (page.type === 'downloadpc') { %>
      <%- partial('partials/download_pc') %>
    <% } else if (page.type === 'downloadpccn') { %>
      <%- partial('partials/download_pc_cn') %>
    <% } %>
    
  <% } %>
  <% if (page.title.trim()) { %>
    <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
  <% } %>
  <% if (page.sponsors) { %>
    <%- partial('sponsors-page') %>
  <% } else if (page.search) { %>
    <%- partial('search-page') %>
  <% } else { %>
    <%- page.content %>
  <% } %>
  
  <div class="content fillcolor"></div>
</div>
