<div id="intro">
        <div class="intro-content">
            <div class="intro-content-l imgsize"><img src="<%- url_for("/images/people.png") %>"></div>
            <div class="intro-content-r">
                <div class="item-1">
                    <div class="item-1-img">
                        <img src="<%- url_for("/images/logo_download.png") %>">
                    </div>
                    <div class="title-text">UUOS钱包</div>
                    <div class="content-text">移动客户端下载</div>
                </div>
                <div class="item-2">
                    <div class="download">
                        <div class="dlbutton shortbt" id="ios"><i class="fa fa-apple fa-2x"></i><a href="#">iPhone下载</a></div>
                        <div class="dlbutton shortbt" id="android"><i class="fa fa-android fa-2x"></i><a href="#">Android下载</a></div>
                    </div>
                    <div class="QRcode">
                        <img id="qrcode" src="<%- url_for("/images/QRcode.png") %>">
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-content-b">
            <a href="<%- url_for("/download_cn.html") %>" class="switch-download"><img class="fa" src="<%- url_for("/images/mp_normal.png") %>">手机版下载</a>
            <a href="<%- url_for("/download_pc_cn.html") %>" class="switch-download button-blue"><img class="fa" src="<%- url_for("/images/pc_down.png") %>">电脑版下载</a>
        </div>
    </div>
    
    <script>
        var oDov1 = document.getElementById('ios');
        var oDov2 = document.getElementById('android');
        var oDov3 = document.getElementById('qrcode');
        oDov1.onmouseover = function(){                
            oDov3.src = "<%- url_for('/images/QRcode.png') %>";
        }
        oDov1.onclick = function(){                
            oDov3.src = "<%- url_for('/images/QRcode.png') %>";
        }
        oDov2.onmouseover = function(){                
            oDov3.src = "<%- url_for('/images/logo_download.png') %>";
        }
        oDov2.onclick = function(){                
            oDov3.src = "<%- url_for('/images/logo_download.png') %>";
        }
    
    </script>