<div id="intro">
        <div class="intro-content">
            <div class="intro-content-l imgsize"><img src="<%- url_for("/images/pc_people.png") %>"></div>
            <div class="intro-content-r">
                <div class="item-1">
                    <div class="item-1-img">
                        <img src="<%- url_for("/images/logo_download.png") %>">
                    </div>
                    <div class="title-text">UUOS 钱包</div>
                    <div class="content-text">电脑客户端下载</div>
                </div>
                <div class="item-2">
                    <div class="download">
                        <a href="#" class="dlbutton shortbt" id="windows"><i class="fa fa-windows fa-2x"></i>Windows下载</a>
                        <a href="#" class="dlbutton shortbt" id="mac"><i class="fa fa-apple fa-2x"></i>Mac下载</a>
                        <a href="#" class="dlbutton shortbt" id="Linux"><i class="fa fa-linux fa-2x"></i>Linux下载</a>
                    </div>                
                </div>
            </div>
        </div>
        <div class="ellipse"></div>
        <div class="intro-content-b">        
            <a href="<%- url_for("/download_cn.html") %>" class="switch-download button-blue"><img class="fa" src="<%- url_for("/images/mp_down.png") %>">手机版下载</a>
            <a href="<%- url_for("/download_pc_cn.html") %>" class="switch-download"><img class="fa" src="<%- url_for("/images/pc_normal.png") %>">电脑版下载</a>
        </div>
    </div>
    