<div id="intro">
        <div class="intro-content">
            <div class="intro-content-l hidden-xs"><img src="<%- url_for("/images/people.png") %>"></div>
            <div class="intro-content-r">
                <div class="item-1">
                    <div class="item-1-img">
                        <img src="<%- url_for("/images/logo_download.png") %>">
                    </div>
                    <div class="title-text">手机版下载</div>
                </div>
                <div class="item-2">
                    <div class="QRcode">
                        <img id="qrcode" src="<%- url_for("/images/QRcode.png") %>">
                        <div class="text-scan">UUOS Wallet App</div>
                    </div>
                    <div class="download">
                        <div class="dlbutton" id="ios"><i class="fa fa-apple fa-2x"></i><a href="#">IOS</a></div>
                        <div class="dlbutton" id="android"><i class="fa fa-android fa-2x"></i><a href="#">Android</a></div>
                    </div>                
                </div>
            </div>
        </div>
        <div class="intro-content-b">        
            <a href="<%- url_for("/download_cn.html") %>" class="switch-download"><i class="fas fa-mobile-alt"></i>手机版下载</a>
            <a href="<%- url_for("/download_pc_cn.html") %>" class="switch-download button-blue"><i class="fas fa-desktop"></i></i>电脑版下载</a>
        </div>
    </div>
    
    <script>
        var oDov1 = document.getElementById('ios');
        var oDov2 = document.getElementById('android');
        var oDov3 = document.getElementById('qrcode');
        oDov1.onmouseover = function(){                
            oDov3.src = "<%- url_for('/images/QRcode.png') %>";
        }
        oDov1.onclick = function(){                
            oDov3.src = "<%- url_for('/images/QRcode.png') %>";
        }
        oDov2.onmouseover = function(){                
            oDov3.src = "<%- url_for('/images/logo_download.png') %>";
        }
        oDov2.onclick = function(){                
            oDov3.src = "<%- url_for('/images/logo_download.png') %>";
        }
    
    </script>