<div id="intro">
        <div class="intro-content">
            <div class="intro-content-l"><img src="<%- url_for("/images/pc_people.png") %>"></div>
            <div class="intro-content-r">
                <div class="item-1">
                    <div class="item-1-img">
                        <img src="<%- url_for("/images/logo_download.png") %>">
                    </div>
                    <div class="title-text">UUOS Wallet</div>
                    <div class="content-text">Download for PC</div>
                </div>
                <div class="item-2">
                    <div class="download">
                        <a href="#" class="dlbutton" id="windows"><i class="fa fa-windows fa-2x"></i>Download for Windows</a>
                        <a href="#" class="dlbutton" id="mac"><i class="fa fa-apple fa-2x"></i>Download for Mac</a>
                        <a href="#" class="dlbutton" id="Linux"><i class="fa fa-linux fa-2x"></i>Download for Linux</a>
                    </div>                
                </div>
            </div>
        </div>
        <div class="intro-content-b">        
            <a href="<%- url_for("/download.html") %>" class="switch-download button-blue"><img class="fa" src="<%- url_for("/images/mp_down.png") %>">Download for Mobile</a>
            <a href="<%- url_for("/downloadpc.html") %>" class="switch-download"><img class="fa" src="<%- url_for("/images/pc_normal.png") %>">Download for PC</a>
        </div>
    </div>
    