<div id="footer">
  <div class="oval"></div>
  <div class="footer-icon">
    <p>
      <a class="social-icon" href="https://github.com/uuos/uuos" target="_blank">
        <%- partial('icons/github') %>
      </a>
      <a class="social-icon" href="https://t.me/uuosio" target="_blank">
        <%- partial('icons/telegram') %>
      </a>
      <a class="social-icon" href="https://twitter.com/uuosio" target="_blank">
        <%- partial('icons/twitter') %>
      </a>
      <a class="social-icon" href="https://www.youtube.com/channel/UCn2JYftmWF5lAvc9R-r_jyQ/featured" target="_blank">
              <%- partial('icons/youtube') %>    
          </a>
    </p>
    <p>Released under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a><br>
    Copyright &copy; 2014-<%- new Date().getFullYear() %> UUOS</p>
  </div>
</div>