<div class="sidebar">
    <div class="sidebar-inner-index">
      <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
      </ul>
    </div>
  </div>
  
  <div id="hero">
    <div class="banner">
      <div class="left">
          <h2 class="vue">UUOS</h2>
          <h1>
          <br>一个通用智能合约平台
          </h1>
          <br>
            <p>
              <a class="button why" href="<%- url_for("https://www.jianshu.com/p/32b317be9fa1") %>" target="_blank">为什么是UUOS?</a>
              <a class="button start" href="<%- url_for("/v2/source-cn") %>" target="_blank"><span>开始</span></a>
              <a class="button git has-icon" href="https://github.com/uuos/uuos" target="_blank">
                <%- partial('icons/github-dark') %>
                GITHUB</a>
            </p>
      </div>
      <div class="right">
      
      </div>
    </div>
  </div>
  
  <div id="highlights">
    <div class="inner">
      <div class="point">
          <img src="<%- url_for("/images/web_Home page_kuozhan.png") %>">
        <h2>可扩展性</h2>
        <p>
          <p align="left">UUOS有着良好的扩展性，支持多种智能合约虚拟机，目前除了支持wasm虚拟机，还支持Python, EVM, Lua，Java等虚拟机，集成一种新的虚拟机非常方便.</p>
        </p>
      </div>
  
      <div class="point">
          <img src="<%- url_for("/images/web_Home page_yiyong.png") %>">
        <h2>易用性</h2>
        <p>
          <p align="left">UUOS专注于将Python语言应用于智能合约的开发，提高智能合约语言的易用性，同时注重智能合约的安全性.</p>
        </p>
      </div>
  
      <div class="point">
        <img src="<%- url_for("/images/web_Home page_tiaoshi.png") %>">
        <h2>在线调试</h2>
        <p>
          <p align="left">UUOS支持通过Visual Studio Code等开发工具直接调试C++和Python等智能合约，方便智能合约的开发.</p>
        </p>
      </div>
      <div class="point">
        <img src="<%- url_for("/images/web_Home page_shengji.png") %>">
        <h2>链上升级</h2>
        <p>
          <p align="left">UUOS可以做到在不停止结点的情况下升级区块链的VM等模块.</p>
        </p>
      </div>
    </div>
  </div>
  