<li>
  <a href="<%- url_for("/v2/source") %>" class="nav-link team<%- page.path.match(/team\.html/) ? ' current' : '' %>">Document</a>
</li>

<li>
  <a href="<%- url_for("https://github.com/uuos/uuos/blob/master/whitepaper/AUniversalSmartContractPlatform_V1.3.pdf") %>" class="nav-link team<%- page.path.match(/team\.html/) ? ' current' : '' %>">White Paper</a>
</li>
<li>
  <a href="<%- url_for("http://uuos.network/") %>" class="nav-link team<%- page.path.match(/team\.html/) ? ' current' : '' %>" target="_blank">Testnet</a>
</li>
<li>
  <a href="<%- url_for("/download.html") %>" class="nav-link team<%- page.path.match(/team\.html/) ? ' current' : '' %>">Download</a>
</li>
<li>
  <a href="<%- url_for("/dev-route.html") %>" class="nav-link team<%- page.path.match(/team\.html/) ? ' current' : '' %>">Roadmap</a>
</li>
<li>
  <a href="<%- url_for("/#") %>" class="nav-link team<%- page.path.match(/team\.html/) ? ' current' : '' %>">State</a>
</li>
<%- partial('partials/language_dropdown') %>
